body{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/028/289/478/large/antoine-lepioufle-asset.jpg?1594050284");
    background-position:1px;
}
.header{
    display:flex;
    justify-content: space-between;
    padding:20px 30px 0px 30px ;
}
.aaa{
    color:red;
    font-size:25px;
}

.childcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.center{
    height:85vh;
    width:400px;
    background-color:#F3F3F3;
    padding:20px 0px 0px 35px;    
}
h1{
    font-size: 36px;
}
.centerp{
    font-size: 18px;
}

.name{
    height:35px;
    width:350px;
    font-size: 16px;
    border:0.1px solid grey;
}
.btn1{
    height:35px;
    width:101px;
    background-color: #0080FF;
    color:#FFFFFF;
    border: none;
}
.btn2{
    height:35px;
    width:101px;
    color: #000000;
    background-color: #E6E6E6;
    border: none;

}
label{
    font-size:17px;
    margin-top:20px;
}

.diva{
    margin-top:30px;
}



.bottomcontainer{
    margin-left:450px;
    height:30vh;
    width:435px;
    color:#999999;
}

.lastdiv{
    height:280px;
    width:auto;
    background-color:#000000d2;
    margin-top:10px;
    color:#737373;
}
.lastdiv p{
    padding:50px 0px 40px 200px;
    font-size: large;
}
.lasta{
    margin:50px 40px 40px 200px;
    font-size: large;

}
#language{
    margin:30px 0px 0px 200px;
    font-size:medium;
    background-color:rgba(0, 0, 0, 0.633);
    height:40px;
    width:110px;
    color:#737373;
}
.lastanchor{
   
    padding:0px 120px 40px 120px;
    
}